
.alert{
    background-color: #6eccaf;
    color: #344d67;
}
.filters-area{
    background-color: #344d67;
    border-radius: 8px;
    justify-content: space-around;
    padding: 15px;
    width: 70%;
    color:#6eccaf;
}
.section-filters{
    align-items: center;
    flex-direction: column;
}

.filtros-central{
    justify-content: center;
}