body{
    background-image: url(../../public/rickymorty.jpeg);
    background-size: cover;
}
.column{
    color: blueviolet;
}

.caja{
    background-color: #ffffffe6;
    height: 600px;
    width: 600px;
    color: #344d67;
}
.b-home{
    background-color: #344d67  !important;
    color: #6eccaf !important;
}
.b-home:hover{
    background-color: #6eccaf !important;
    color: #344d67 !important;
}