
.navbar{
    background-color: #344d67;
    color: #6eccaf;
    
}
header{
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #344d67;
}
li{
    list-style: none;
    display: inline-block;
    
}
ul{
    display:inline-block;
}
.h1nav{
    display: inline-block;
    color:#6eccaf;
    font-size:larger;
    padding: 40px 80px !important;
}
